sqlalchemy==2.0.42
openai

# Azure services
azure-core==1.35.0
azure-common==1.1.28
azure-ai-formrecognizer==3.3.3
azure-cognitiveservices-speech==1.45.0
azure-search-documents==11.5.3

# settings
python-dotenv

# fastapi
# fastapi[all]==0.116.1
fastapi==0.116.1
uvicorn==0.30.6
gunicorn==23.0.0
python-multipart==0.0.9

# paddlepaddle==3.1.0
paddleocr==3.1.0

# for cache ocr
redis==5.0.1

scikit-learn>=1.3.0 

# 추가 필수 패키지
pydantic==2.8.2
starlette==0.41.0
