sqlalchemy==2.0.42
openai

# Azure services
azure-core==1.35.0
azure-common==1.1.28
azure-ai-formrecognizer==3.3.3
azure-cognitiveservices-speech==1.45.0
azure-search-documents==11.5.3

# settings
python-dotenv

# fastapi
fastapi[all]==0.116.1
paddlepaddle==3.1.0
paddleocr==3.1.0

# for cache ocr
redis==5.0.1